@using MyRealWorld.Common
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyRealWorld</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/myworld.css" />
</head>
<body>
    @{
        var user_name = HttpContextAccessor.HttpContext.Session.GetString(Constants.SessionCoockies.SessionUName);
    }
    <header>
        <div class="container-fluid bg-dark">
            <span class="welcome_item">
                <a class="welcome_label" asp-area="" asp-controller="Home" asp-action="Index"><span class="welcome_label">Welcome to my real world!</span></a>
            </span>

            <span class="menu-item">
                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Programming"><span class="menu_labels">If(programming)...</span></a>
            </span>
            <span class="menu-item">
                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Blog"><span class="menu_labels">Else...</span></a>
            </span>
            <span class="menu-item">
                @if (string.IsNullOrEmpty(user_name))
                {
                    <a class="text-dark" asp-area="" asp-controller="LogIn" asp-action="LogIn"><span class="menu_labels">Login</span></a>
                }
                else
                {
                    <a class="text-dark" asp-area="" asp-controller="LogIn" asp-action="LogOut"><span class="menu_labels_grey">Logout</span></a>
                }
            </span>
        </div>
    </header>
    <div class="" style="width:100%;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="row">
            <div class="col-1"> &copy; 2025 - MyRealWorld </div>
            <div class="col-1"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><span class="menu_labels_grey">Privacy</span></a></div>
            <div class="col-8"></div>
            <div class="col-2">                
                <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="LogOut"><span class="menu_labels_grey">Logout</span></a>
            </div>
          </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/myworld.css" />
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>
