<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"  connectionString="Data Source=tcp:s30.winhost.com;Initial Catalog=DB_173742_myrealworld;User ID=DB_173742_myrealworld_user;Password=Algorab0807;Integrated Security=False;TrustServerCertificate=true;"/>
    <add name="SMGeneral"  connectionString="Data Source=tcp:s30.winhost.com;Initial Catalog=DB_173742_smgeneral2;User ID=DB_173742_smgeneral2_user;Password=Algorab0807;Integrated Security=False;TrustServerCertificate=true;"/>
  </connectionStrings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\MyRealWorld.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <rewrite>
        <rules>
          <rule name="bignumberslab.my-real-world.net" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{HTTP_HOST}" pattern="^bignumberslab.my-real-world.net$" />
              <add input="{PATH_INFO}" pattern="^/bignumberslab/" negate="true" />
            </conditions>
            <action type="Rewrite" url="\bignumberslab\{R:0}" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="off"></customErrors>
  </system.web>
</configuration>
<!--ProjectGuid: acf0b62e-b352-4bed-aa3b-89bcbc794b61-->