@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/LogIn.css" />
@model MyRealWorld.Models.Authentication.LogInModel

@using (Html.BeginForm("LogIn", "LogIn", FormMethod.Post))
{
    <section id="LogIn" class="bg-dark">
        <div class="container">
            <div class="ErrorMessage text-danger">@Model.ErrorMessage </div>
            <fieldset>
                <legend>Log in Form</legend>
                <div class="mb-3">
                    <label for="UserName" class="form-label labels_of_controls">User Name</label>
                    <input asp-for="UserName" type="text" class="form-control midium_txt" id="txtUserjName" placeholder="UserName is required">
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label labels_of_controls">Password</label>
                    <input asp-for="Password" type="password" class="form-control midium_txt" id="txtPass" placeholder="Password is required">
                </div>
                <div class="mb-3">
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })

                </div>
                <div class="mb-3">
                    <input asp-for="ShouldRemember" type="checkbox" id="chRemember">
                    <label for="chRemember" class="form-label labels_of_controls">Remember me...</label>
                    
                </div>
                <div class="mb-3">
                    @Html.ActionLink("Sign up...", "Registration", "LogIn", null, new { @class = "alink" })
                </div>
                <div class="mb-3">
                    @Html.ActionLink("Forgot password?", "ResetPassword", "LogIn", null, new { @class = "alink" })
                </div>



                    <div class="col-md-3 form-group align-center mt-5">
                        <button type="submit" class="btn btn-outline-warning">Log in</button>
                    </div>
            </fieldset>

        </div>
    </section>

}
