
@{
    
    Layout = "~/Views/Shared/_LayoutMain2.cshtml";
}
@model SMAuthentication.Authentication.MyAccount 
<link rel="stylesheet" href="~/css/LogIn.css" />


@using (Html.BeginForm("MyAccount", "LogIn", FormMethod.Post))
{
    <section class="bg-dark ">
        <div class="container">
            <div class="col-md-10 form-group">
                <label class="text-danger">@Model.ErrMessage</label>
            </div>
            <fieldset>
                <legend class="legend ml-lg-4">My Account</legend>
                <div class="mb-3">
                    <label for="UserName" class="form-label labels_of_controls">User Name</label>
                    <input asp-for="UserName" type="text" class="form-control midium_txt" id="txtUserjName" placeholder="UserName is required">
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label labels_of_controls">Email</label>
                    <input asp-for="Email" type="email" class="form-control midium_txt" id="txtEmail" placeholder="Email is required">
                </div>
                <div class="mb-3">
                    <label for="Role" class="form-label labels_of_controls">Role</label>
                    <input asp-for="Role" type="text" class="form-control midium_txt" id="txtRole" readonly="readonly">
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label labels_of_controls">Password</label>
                    <input asp-for="Password" type="password" class="form-control midium_txt" id="txtPass" >
                </div>
                <div class="mb-3">
                    <label for="ConfirmPassword" class="form-label labels_of_controls">Confirm password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control midium_txt" id="txtConfPass">
                </div>
                <div class="mb-3">
                    <label for="FirstName" class="form-label labels_of_controls">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control midium_txt" id="txtFirstName">
                </div>
                <div class="mb-3">
                    <label for="LastName" class="form-label labels_of_controls">Lastt Name</label>
                    <input asp-for="LastName" type="text" class="form-control midium_txt" id="txtLastName">
                </div>
                <div class="mb-3">
                    <label for="NumPoints" class="form-label labels_of_controls">Number of Points</label>
                    <input asp-for="NumPoints" type="text" class="form-control midium_txt" id="txtNumPoints" readonly="readonly">
                </div>
                <div class="mb-3">
                    <label for="ActivationDate" class="form-label labels_of_controls">Date of activation</label>
                    <input asp-for="ActivationDate" type="text" class="form-control midium_txt" id="txtActDate" readonly="readonly">
                </div>
                <input asp-for="IsActive" type="hidden" id="hdActive" />
                <div class="col-md-3 form-group align-items-center mt-lg-3">
                    <button type="submit" class="btn btn-outline-warning">Update</button>
                </div>
            </fieldset>            
        </div>
    </section>
    @Html.HiddenFor(x=>x.Id)
}
