@using MyRealWorld.ViewModels

@{
    ViewData["Title"] = "IndexNextView";
}

@model MainVM

<div style="z-index:1;">
    <div class="photo-wrap">
        <img src="/images/avatar4.png" alt="Me">
    </div>
    <section class="linescontainer">
    @{
        if (Model != null)
        {
            for (int i = 0; i < Model.VertLines.Count; ++i)
            {
                const string PartialViewName = "~/Views/components/VertLineView.cshtml";
                await Html.RenderPartialAsync(PartialViewName, Model.VertLines[i]);
            }
        }
    }
    </section>
</div>

<script>
    window.onresize = UpdateWindowData;
    function UpdateWindowData()
    {
        //$(window).width();$(window).height();document.documentElement.clientWidth ;document.documentElement.clientHeight;// ||
         var width =   $(window).width();
         var height =   $(window).height();
       //alert(width+", "+height);
        //You can also send this data to the server if needed
        $.post('/Home/Reload', { width: width, height: height });
        
    }
</script>