@using MyRealWorld.ViewModels

@{
    ViewData["Title"] = "IndexNextView";
}

@model MainVM

<div style="z-index:1;">
    <div class="photo-wrap">
        <img src="/images/avatar4.png" alt="Me">
    </div>
    <div class="linescontainer" style="z-index:2;">
    @{
        if (Model != null)
        {
            for (int i = 0; i < Model.VertLines.Count; ++i)
            {
                const string PartialViewName = "~/Views/components/VertLineView.cshtml";
                await Html.RenderPartialAsync(PartialViewName, Model.VertLines[i]);
            }
        }
    }
    </div>
</div>

