
h1 {
    font-family: 'Segoe UI';
    color: moccasin;
    font-size: 35px;
    font-weight: bold;
    margin-top:50px;
}
button{
    margin-bottom:30px;
}
.Main {
    min-height: 90%;
    height:90%;
}
.ProjectView {
    background-color: lightgrey;
    border: 1px solid navy;
    border-radius: 10px;
    color: navy;
    font-family: Calibri;
    font-size: 20px;
    margin: 20px 0;
}
